# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>CSI, "CSI Spectrum Analyzer", com.spectrumimager.CSI.CSI_Spectrum_Analyzer
Plugins>CSI, "CSI TIA Reader", com.spectrumimager.CSI.CSI_TIA_Reader
Plugins>CSI, "CSI DM3 Reader", com.spectrumimager.CSI.CSI_DM3_Reader
Plugins>CSI, "CSI Dynamic Profiler", com.spectrumimager.CSI.CSI_Dynamic_Profiler
Plugins>CSI, "CSI Darkref Subtractor", com.spectrumimager.CSI.CSI_Darkref_Subtractor
Plugins>CSI, "CSI Map to Line", com.spectrumimager.CSI.CSI_Map_to_Line
Plugins>CSI4D, "CSI 4D Analyzer",com.spectrumimager.CSI.CSI_4D_Analyzer
Plugins>CSI4D, "CSI 4D Format EMPAD", com.spectrumimager.CSI.CSI_4D_Format_EMPAD
Plugins>CSI4D, "CSI 4D Reslice", com.spectrumimager.CSI.CSI_4D_Reslice